<div class="menu_bar_item">
  <ul>
    <li>
      <a
      [routerLink]="['/']"
      [routerLinkActive]="['menu_bar_item_active']"
      [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/luciano-decio-neto-406615272/"
        target="_blank"
        >Linkedin</a
      >
    </li>
    <li><a href="https://github.com/PADOCAS" target="_blank">GitHub</a></li>
    <li>
      <a href="https://web.dio.me/users/lucianodeciopacheco" target="_blank"
        >DIO</a
      >
    </li>
  </ul>
</div>
