@media screen and (max-width: 1100px) {
  .menu-bar-principal-right_container {
    margin-left: 5px;
  }

  .menu-bar-principal-right_container input {
    font-size: 12px;
  }

  .menu-bar-principal-right_container img {
    margin-right: 3px;
  }
}

@media screen and (max-width: 750px) {
  .menu-bar-principal-right_container {
    display: none;
  }
}

