.menu-bar-principal-right_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  align-items: center;
  height: 32px;
  margin: 5px;
  border: 2px solid #999999;
  margin-left: 10px;
}

.menu-bar-principal-right_container input {
  width: 70%;
  padding: 4px;
  font-size: 16px;
  color: #999999;
  font-weight: normal;
  text-decoration: none;
  font-family: "SST", helvetica, arial, sans-serif;
}

.menu-bar-principal-right_container img {
  max-width: 30%;
  height: 32px;
  padding: 4px;
  margin-right: 8px;
}
