@media screen and (max-width: 1400px) {
  .app-card_container_list_cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1060px) {
  .app-card_container_list_cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 730px) {
  .app-card_container_list_cards {
    grid-template-columns: 1fr;
  }
}


@media screen and (max-width: 500px) {
  .app-card_container_mais_vendidos {
    padding: 28px 0px;
  }
}
