.menu_bar_container {
  display: flex;
  flex-direction:column;
  /* position -> fixed deixar esse menu sempre aparecendo mesmo que rolar a tela para baixo!! */
  position: fixed;
  /* z-index -> profundidade do componente (quando maior fica a frente dos outros, quando menor fica atrás de outros) */
  /* queremos deixar ele a frente de outros componentes, por isso 999 */
  z-index: 999;
  width: 100%;
  box-shadow: 0 20px 21px #0000001f;
}

.menu_bar_container_content {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  height: 64px;
}
