<footer>
  <div class="footer_content">
    <a href="#"><img src="assets/play_white.png" alt="Playstation" /></a>
    <div class="footer_container">
      <div class="footer_container_left">
        <p><a href="#">Suporte</a></p>
        <p><a href="#">Política de Privacidade</a></p>
        <p><a href="#">Termos de uso do site</a></p>
        <p><a href="#">Mapa do site</a></p>
        <p><a href="#">Playstation Studios</a></p>
        <p><a href="#">Legal</a></p>
        <p><a href="#">Sobre a SIE</a></p>
      </div>
      <div class="footer_container_center">
        <p><a href="#">Termos de serviço da PSN</a></p>
        <p><a href="#">Política de cancelamento da PS Store</a></p>
        <p><a href="#">Avisos de saúde</a></p>
        <p><a href="#">Sobre as classificações</a></p>
      </div>
      <div class="footer_container_right">
        <p><a href="#">Facebook</a></p>
        <p><a href="#">Twitter</a></p>
        <p><a href="#">YouTube</a></p>
        <p><a href="#">Instagram</a></p>
        <p><a href="#">Aplicativo para Android</a></p>
        <p><a href="#">Aplicativo para iOS</a></p>
      </div>
    </div>
    <a href="#"><h2>© 2023 Sony Interactive Entertainment Inc. Todos os direitos reservados.</h2></a>
    <a href="https://github.com/PADOCAS" target="_blank"><h2>Desenvolvido por Luciano Decio Neto</h2></a>
  </div>
</footer>
